IndexSneaker.html
.logo {
  height: 50%;
  position:fixed;
}
.whiteText {
font-size: 10px;
font-family: Helvetica;
color: white;
font-display: block;
}
.orange-background {
  background-image: "images/HomeworkBackground.png";
}
.pinkHeader {
  background-color: pink}
.Title {
font-size: 20px;
font-family: Helvetica;
color: white;
}
.Title2 {
  font-size: 15px;
  float: center;
  font-family: Helvetica;
  color: black;
  padding: 5px, 5px, 5px, 5px;
}
.background-image {
  background-image:"images/HomeworkBackground.png";
}
.navBar {
  background-image:"images/HomeworkBackground.png";
  border-style: none;
  display: inline-block;
  float: left;
  margin: 10px, 0, 0, 0;
  padding: 10px 10px 10px 10px;
  width 200px
  line-height: 20px;
}
