IndexSneaker.html
.logo {
  height: 20px
  width: 20px
}
.whiteText {
font-size: 10px;
font-family: Helvetica;
color: white;
font-display: block;
}
.orange-background {
  background-color: red;
}
.Title {
font-size: 20px;
font-family: Helvetica;
color: white;
}
